/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Basic styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url("../views/backg7.png") no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    font-size:x-large;
}

header .logo {
    width: 50px;
    height: auto;
    margin-left: 20px;
}

nav ul {
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4f4f4;
}

main {
    flex: 1; /* This makes the main content area expand to fill the available space */
    padding: 20px 0;
    text-align: center;
}

footer {
    background: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer section {
    padding: 0px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    padding: 20px;
    border: 0px solid #888;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: left;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
