body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header .timer {
    font-size: 18px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 20px;
}

.question label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

#submit-btn {
    background-color: #4CAF50;
}

#result-container {
    display: none;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.question-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.question-square {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.question-square.answered {
    background-color: #4CAF50;
    color: white;
}

.question-square.skipped {
    background-color: #FFEB3B;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
}
